<div class="container-fluid">
<div class="row">
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
        Manupulating data with map
      </div>
      <div class="card-body">
        <ul class="list-group" id="container1">

        </ul>
      </div>
    </div>
    
     
  </div>
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
        Manupulating data with map from Object
      </div>
      <div class="card-body">
        <ul class="list-group" id="container2">

        </ul>
      </div>
    </div>
  </div>
</div>

</div>